<nav>
  <li>
    <a routerLink="/home"
      ><img
        src="assets/images/logo.png"
        class="img-responsive"
        alt="logo"
        height="65px"
    /></a>
  </li>

  <div class="navlist">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/course">Courses</a></li>
    <li><a routerLink="/employee">Employee</a></li>
    <li><a routerLink="/form">Form</a></li>

    <img
      src="assets/images/logo.png"
      class="img-responsive"
      alt="logo"
      height="65px"
    />
  </div>
</nav>
